 <!-- card - cart  -->
 <div class="cart-drawer1 cart-drawer-right1">
    <div class="cart-drawer-close-btn1 d-flex">
    <span class="svg d-inline-block">Close</span>

        <div class="svg-dawer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 24 24" width="18px"                ><path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"/>
          </svg>

        </div>
    </div>


    <div class="add-tocart-item">
      <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
        <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
      </div>
    
      <form action="{{ routes.cart_url }}"
            method="post"
            class="{% if cart.item_count == 0 %}hidden{% endif %}"
            data-total-discount="{{ cart.total_discount }}"
            data-money-format="{{ shop.money_format | strip_html }}"
            data-shop-currency="{{ shop.currency }}"
            data-shop-name="{{ shop.name | escape }}"
            data-cart-form="mini-cart">
        <a class="cart_content__continue-shopping secondary_button">
          {{ 'cart.general.continue_shopping' | t }}
        </a>
    
        <ul class="cart_items js-cart_items">
          {%- assign total_saving = 0 -%}
    
          {% for item in cart.items %}
            {% if item.variant.compare_at_price > item.variant.price %}
              {%- assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity -%}
              {%- assign total_saving = saving | plus: total_saving -%}
            {% endif %}
    
            <li class="mini-cart__item d-flex" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}">
              <a href="{{ item.url }}">
                {% if item.image %}
                  <div class="cart_image mini-cart__item-image">
                    <img src="{{ item.image | img_url: '320x' }}" alt="{{ item.title | escape }}" class="lazyload" />
                  </div>
                {% endif %}
              </a>
    
              <div class="mini-cart__item-content">
                <div class="mini-cart__item-title">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                  </a>
                  {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                    -
                    {% for option in item.product.options %}
                      {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                    {% endfor %}
                  {% endunless %}
    
                  {% if item.selling_plan_allocation.selling_plan %}
                    <p class="meta">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                  {% endif %}
    
                  {% if item.properties %}
                    {% for p in item.properties %}
                      {% if p.last != blank %}
                        <div class="line-item">
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
    
                <div class="mini-cart__item-price">
                  {% if item.price > 0 %}
                    <span class="money {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}sale{% endif %}">
                      {%
                        render 'price-element',
                        price: item.final_price
                      %}
                    </span>
    
                    {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}
                      <span class="money was_price">
                        {%
                          render 'price-element',
                          price: item.variant.compare_at_price
                        %}
                      </span>
                    {% endif %}
                  {% else %}
                    {{ settings.free_price_text }}
                  {% endif %}
                </div>
    
                {%
                  render 'unit-price',
                  item: item,
                  variant: item.variant,
                  product: item.product,
                  class: 'mini-cart__unit-price'
                %}
    
                {% if item.line_level_discount_allocations.size > 0 %}
                  {% for discount_allocation in item.line_level_discount_allocations %}
                    <p class="notification-discount meta">
                      {{ discount_allocation.discount_application.title }}
                    </p>
                  {% endfor %}
                {% endif %}
    
               
              </div>
    
              <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove-btn" data-line-id="{{ forloop.index }}" data-remove-item="mini-cart"><span class="remove-icon"></span></a>
            </li>
          {% endfor %}
        </ul>
    
        <ul class="checkout">
          <li class="cart_discounts js-cart_discounts sale">
            {% if cart.cart_level_discount_applications != blank %}
              {% for discount_application in cart.cart_level_discount_applications %}
                <span class="cart_discounts--title">{{ discount_application.title }}</span>
    
                <span class="cart_discounts--price">
                  -<span class="money">
                    {%
                      render 'price-element',
                      price: discount_application.total_allocated_amount
                    %}
                  </span>
                </span>
              {% endfor %}
            {% endif %}
          </li>
    
          <li class="cart_subtotal js-cart_subtotal">
            <span class="right">
              <span class="money">
                {%
                  render 'price-element',
                  price: cart.total_price
                %}
              </span>
            </span>
    
            <span>{{ 'layout.general.subtotal' | t }}</span>
          </li>
    
          <li class="cart_savings sale js-cart_savings">
            {% if settings.display_savings and total_saving > 0 or settings.display_savings and cart.total_discount > 0 %}
              <span class="right">
                <span class="money">
                  {% assign total_savings = total_saving | plus: cart.total_discount %}
                  {%
                    render 'price-element',
                    price: total_savings
                  %}
                </span>
              </span>
    
              <span>{{ 'layout.general.savings' | t }}</span>
            {% endif %}
          </li>
    
          <li>
            {%- capture taxes_shipping_checkout -%}
              {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif cart.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.tax_and_shipping' | t }}
              {%- endif -%}
            {%- endcapture -%}
    
            <p class="cart-message meta">{{ taxes_shipping_checkout }}</p>
          </li>
    
          <li>
            {% if settings.display_special_instructions and settings.go_to_checkout %}
              <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}">{{ cart.note }}</textarea>
            {% endif %}
    
            {% if settings.display_tos_checkbox and settings.go_to_checkout %}
              <p class="tos">
                <input type="checkbox" class="tos_agree" id="sliding_agree" required />
    
                <label class="tos_label">
                  {{ 'cart.general.agree_to_terms_html' | t }}
                </label>
    
                {% if settings.tos_page != blank %}
                  <a href="{{ settings.tos_page }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                {% endif %}
              </p>
            {% endif %}
    
            {% if settings.cart_message != blank %}
              <div class="cart_text">
                {{ settings.cart_message }}
              </div>
            {% endif %}
    
            {% if settings.go_to_checkout %}
              <button type="submit" name="checkout" class="global-button global-button--primary add_to_cart" data-minicart-checkout-button>{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.checkout' | t }}</button>
            {% else %}
              <button type="submit" class="global-button global-button--primary add_to_cart" data-minicart-checkout-button>{% if settings.show_lock_icon and settings.go_to_checkout %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.go_to_cart' | t }} </button>
            {% endif %}
          </li>
        </ul>
      </form>
    
    </div>

    </div>
<!-- card - cart end  -->