    {% comment %} ====search  {% endcomment %}
    <div class="has-sidebar-option sidebar-enabled--{{ sidebar }}">
        <div class="container">
          {% if search.performed %}
            {% if search.results == empty %}
              <div class="one-whole column">
                <div class="search_page text-align--center">
                  <div class="center">
                    <h3>{{ 'general.search.no_results' | t: terms: search.terms }}</h3>
                  </div>
  
                  <br />
  
                  {%
                    render 'search-form',
                    search_term: section.settings.search_term
                  %}
                </div>
              </div>
            {% else %}
              {% if settings.search_option == 'product,page,article' or search.results.first.price == blank %}
                <div class="one-whole column">
                  <div class="product-list product-list--search" {% if settings.pagination_type == 'load_more_button' %}data-load-more--grid{% endif %}>
                    {% for item in search.results %}
                      <div class="product_row is-flex is-flex-wrap equal-columns--outside-trim" {% if settings.pagination_type == 'load_more_button' %}data-load-more--grid-item{% endif %}>
                        {%- assign featured_image = false -%}
  
                        {% if item.object_type == 'article' and item.image %}
                          {%- assign featured_image = true -%}
  
                          <div class="one-fourth column">
                            <a href="{{ item.url }}" title="{{ item.title | escape }}">
                              {%
                                render 'image-element',
                                image: item.image,
                                alt: item.title,
                                object_fit: settings.align_height,
                                max_height: settings.collection_height
                              %}
                            </a>
                          </div>
                        {% elsif item.featured_image %}
                          {%- assign featured_image = true -%}
  
                          <div class="one-fourth column">
                            <a href="{{ item.url }}" title="{{ item.title | escape }}">
                              {%
                                render 'image-element',
                                image: item.featured_image,
                                alt: item.title,
                                object_fit: settings.align_height,
                                max_height: settings.collection_height
                              %}
                            </a>
                          </div>
                        {% endif %}
  
                        <div class="{% if featured_image %}three-fourths columns{% else %}one-whole column{% endif %} align_left">
                          <h5 class="sub_title">
                            <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
                          </h5>
  
                          {% if item.price %}
                            <div class="info">
                              {% unless settings.display_price == false and item.available == false %}
                                <span class="price">
                                  {% if item.compare_at_price_max > item.price %}
                                    <span class="was_price">
                                      <span class="money">
                                        {%
                                          render 'price-element',
                                          price: item.compare_at_price_max
                                        %}
                                      </span>
                                    </span>
                                  {% endif %}
  
                                  {% if item.price_varies %}
                                    {% if item.compare_at_price_max > item.price %}
                                      <br />
                                    {% endif %}
  
                                    <small>
                                      <em>{{ 'products.general.from' | t }}</em>
                                    </small>
                                  {% endif %}
  
                                  <span class="money">
                                    {%
                                      render 'price-element',
                                      price: item.price_min
                                    %}
                                  </span>
                                </span>
                              {% endunless %}
  
                              {% if item.available == false %}
                                <span class="sold-out-text">{{ settings.sold_out_text }}</span>
                              {% endif %}
                            </div>
                          {% endif %}
  
                          {% if item.object_type == 'article' %}
                            <p class="blog_meta">
                              {% if section.settings.blog_author %}
                                <span>{{ 'blogs.article.by_author' | t: author: item.author }}</span>
                              {% endif %}
  
                              {% if section.settings.blog_date %}
                                <span>{{ item.published_at | date: format: "month_day_year" }}</span>
                              {% endif %}
                            </p>
                          {% endif %}
  
                          {% if item.excerpt %}
                            <div class="excerpt">{{ item.excerpt }}</div>
  
                            {% if section.settings.read_more_link %}
                              <p>
                                <a href="{{ item.url }}" title="{{ item.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span></a>
                              </p>
                            {% endif %}
                          {% else %}
                            <p>
                              {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms | replace: 'Description', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' }}
                            </p>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
  
                    {% if settings.pagination_type != 'basic_pagination' %}
                      {% if paginate.next.url %}
                        <span class="js-load-more load-more">
                          <a href="{{ paginate.next.url }}" data-no-instant data-load-more class="global-button global-button--text">{{ 'general.search.load_more' | t }}</a>
                        </span>
                      {% endif %}
                    {% endif %}
                  </div>
  
                  <div class="load-more__icon"></div>
                </div>
              
            {% else %}
              <div class="one-whole column">
                {%- assign products = search.results -%}
                {%
                  render 'product-loop',
                  products: products,
                  skip_product: product,
                  products_per_row: section.settings.products_per_row,
                  sidebar: sidebar,
                  paginate: paginate,
                %}
              </div>
            {% endif %}
          {% endif %}
        {% else %}
          <div class="one-whole column">
            <div class=" text-align--center">

       
              {% render 'search-form' %}
            </div>
          </div>
        {% endif %}
  
  
      </div>

      </div>
      {% comment %} ====search end {% endcomment %}