<script
  type="application/json"
  data-section-type="product-template"
  data-section-id="{{ section.id }}"
>
</script>
<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>







<div class="container">
  {% render 'product__structured-data' %}

  {% if section.settings.product_breadcrumb %}
    <div class="breadcrumb-wrapper one-whole column">
      <div class="breadcrumb-collection breadcrumb-collection--product">
        {% if collection.previous_product or collection.next_product %}
          <div class="nav_arrows breadcrumb_text">
            {% if collection.previous_product %}
              <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="breadcrumb_link"><span class="icon-left-arrow"> {{ 'products.general.previous_product_html' | t }}</span></a>
            {% endif %}
            {% if collection.previous_product and collection.next_product %}<span class="breadcrumb-divider"> | </span>{% endif %}

            {% if collection.next_product %}
              <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="breadcrumb_link">{{ 'products.general.next_product_html' | t }} <span class="icon-right-arrow"></span></a>
            {% endif %}
          </div>
        {% endif %}

        {% render 'product__breadcrumb' %}
      </div>
    </div>
  {% endif %}

  <section
    class="
      product-container
      is-flex
      is-flex-wrap
    "
  >


    {%
      render 'product',
      context: 'product',
      product: product,
      variant: product.selected_or_first_available_variant,
      gallery_thumbnails: section.settings.product_thumbs,
      gallery_click_to_zoom: section.settings.enable_product_lightbox,
      gallery_hover_zoom: section.settings.activate_zoom,
      gallery_arrows: section.settings.gallery_arrows,
      gallery_thumbnail_position: section.settings.thumbnail_position,
      gallery_thumbnail_slider: section.settings.enable_thumbnail_slider,
      gallery_slideshow_speed: section.settings.slideshow_speed,
      gallery_slideshow_transition: section.settings.slideshow_animation,
      media_position: section.settings.media_position,
      set_product_height: section.settings.set_product_height,
      product_height: section.settings.product_height,
      video_looping: section.settings.video_looping,
      show_dynamic_checkout_button: settings.show_dynamic_checkout_button
    %}
  </section>
</div>


  <script>
      
  $(document).ready(function(){
        const  arr = [{% for color_option in product.options_by_name['Color'].values %}
        {% if forloop.last == true %}
        ' {{ color_option }}'
        {% else %}
        ' {{ color_option }}',
        {% endif %}
        {% endfor %}];
        const  aaarr = [ {% for variant in product.variants %}
          {% if forloop.last == true %}
            "{{ variant.image | img_url: '2048x' }}"
            {% else %}
            "{{ variant.image | img_url: '2048x' }}",
          {% endif %}          
        {% endfor%} ];
        

        {% comment %} start of all have allvalue (title and image)  {% endcomment %}

      const allvalue = [ {% for variant in product.variants %}
        {% if forloop.last == true %}
          [ '{{ variant.title }}' , 
            
            {% if  variant.image != blank %}
            
            '{{ variant.image |img_url: '2048x' }}' 
          {% endif %}
          
          ]
        
      {% else %}
      
      [ '{{ variant.title }}' ,
        
        {% if  variant.image != blank %}
        '{{ variant.image | img_url: '2048x' }}'
      {% endif %}
      ],


      {% endif %}


      {% endfor%} 
      ];


        {% comment %} end of all have allvalue (title and image)  
      console.log(allvalue);

{% endcomment %}
    
const filtercolorandimage = [];
     
      jQuery.each( allvalue, function( i, val ) {
          var productNameTitle = val[0].trim().toString();
          console.log(productNameTitle);
          jQuery.each( arr,function( i, vala ) {

            console.log(vala);
            var getinnervalue = vala.trim().toString();
         
            let position = productNameTitle.includes(getinnervalue);
            
            if(position === true && typeof val[1] != 'undefined' ){


              filtercolorandimage.push([ vala,    val[1]    ])
              return console.log([ vala,    val[1]    ]);
          } 
              
          
         
        
           
          });
  
          
        return ;
      });

    

       console.log(filtercolorandimage);

       var finaloutput =  filtercolorandimage.map(JSON.stringify).filter((e,i,a) => i === a.indexOf(e)).map(JSON.parse);

       console.log(finaloutput);

       jQuery.each( arr, function( i, val ) {
        var arra = jQuery(".swatch").find("div[data-value='"+ val.trim() +"']").children().css( {"background": "url('"+finaloutput[i][1]+"')", "background-size": "cover", "border-radius": "30px"} );

      return ;
    });







});
  
  

  
  </script>



  {% comment%}
























    =================last 5.22pm ============
          $(document).ready(function(){
  const  arr = [{% for color_option in product.options_by_name['Color'].values %}
  {% if forloop.last == true %}
   ' {{ color_option }}'
  {% else %}
  ' {{ color_option }}',
  {% endif %}
  {% endfor %}];
 const  varintimagelink = [ {% for variant in product.variants %}
    {% if forloop.last == true %}
      "{{ variant.image | img_url: '2048x' }}"
      {% else %}
      "{{ variant.image | img_url: '2048x' }}",
    {% endif %}          
  {% endfor%} ],
   
  jQuery.each( arr, function( i, val ) {
    var arra = jQuery(".swatch").find("div[data-value='"+ val.trim() +"']").children().css( {"background": "url(https://cdn.shopify.com/s/files/1/0549/6605/9105/products/14.1_5000x.jpg?v=1639119191)", "background-size": "cover"} );
    console.log(this);
    console.log(arra);
  return ;
});
  
});
  
    =================last 5.22pm ============
  <script>
    $(document).ready(function(){
  (function ($) {
  const  arr = [{% for color_option in product.options_by_name['Color'].values %}
  {% if forloop.last == true %}
   ' {{ color_option }}'
  {% else %}
  ' {{ color_option }}',
  {% endif %}
  {% endfor %}];
   
  jQuery.each( arr, function( i, val ) {
    var arra = $(".swatch").find("div[data-value='LightPink']").children().css( "background-color", "red" );
  return ;
});
   var arra = $(".swatch").find("div[data-value='LightPink']").children().css( "background-color", "red" );

   console.log(arra);
  
  })(jQuery);});
  
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
 (function ($) {
       $(function(){
          $("#text").click(function(){
           var id= $(".id").html();
          $('.htmaaaaaaaal').html("<div class='new' id='" + id + "'>jitender</div>");
             });
       });

})(jQuery);
});
    </script>
  {% endcomment%}

{% schema %}
{
  "name": "Product information",
  "class": "shopify-section--product-template is-product-main content",
  "settings": [
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "radio",
      "id": "media_position",
      "label": "Product media position",
      "options": [
        {
          "value": "is-flex-row",
          "label": "Left"
        },
        {
          "value": "is-flex-row-reverse",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "info": "Only applies to desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover",
      "default": true
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails position",
      "default": "bottom",
      "options": [
        {
          "value": "bottom",
          "label": "Below main image"
        },
        {
          "value": "left",
          "label": "Left of main image"
        },
        {
          "value": "right",
          "label": "Right of main image"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "collapsible-tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_tab_heading",
          "label": "Heading",
          "default": "Collapsible tab"
        },
        {
          "type": "richtext",
          "id": "collapsible_tab_text",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        }
      ]
    },
    {
      "type": "Collasinle-Description",
      "name": "Collapsible Description",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_tab_heading",
          "label": "Heading",
          "default": "DESCRIPTION"
        }
      ]
    },
    {
      "type": "SizeChartdetails",
      "name": "Collapsible Size",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_tab_heading",
          "label": "FIT AND CARE",
          "default": "DESCRIPTION"
        }
      ]
    },
    {
      "type": "Video",
      "name": "Video",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_tab_heading",
          "label": "Video",
          "default": "Video"
        }
      ]
    },
    {
      "type": "MEASUREMENT",
      "name": "MEASUREMENT",
      "settings": [
        {
          "type": "text",
          "id": "collapsible_tab_heading",
          "label": "MEASUREMENT",
          "default": "MEASUREMENT"
        },
        {
          "type": "textarea",
          "id": "home_welcome_message",
          "label": "Welcome message",
          "default": "Welcome to my shop!"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Title",
          "default": "Click below to check out real life sizing and measurements.",
        
          "placeholder": "Click below to check out real life sizing and measurements."
        }
      ]
    },
    {
      "type": "custom-liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "form",
      "name": "Form",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customize form features for the product in the products portion of the theme settings."
        }
      ]
    },
    {
      "type": "popup",
      "name": "Pop-up",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Pop-up link text"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page",
          "info": "[Learn more](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910707-Using-the-Size-Chart-Sections-themes-)"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "display_savings",
          "label": "Show price savings",
          "default": true
        }
      ]
    },
    {
      "type": "product-links",
      "name": "Product links",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_collections",
          "label": "Show collections",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_types",
          "label": "Show types",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_tags",
          "label": "Show tags",
          "default": true
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/product-reviews)"
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1
    },
    {
      "type": "tabs",
      "name": "Tabs",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_product_description",
          "label": "Show product description",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_tabs_below_product_gallery",
          "label": "Show tabs below product gallery",
          "info": "Desktop only",
          "default": false
        },
        {
          "type": "header",
          "content": "Tab"
        },
        {
          "type": "text",
          "id": "tab_heading_1",
          "label": "Heading",
          "default": "Tab 1"
        },
        {
          "type": "richtext",
          "id": "tab_text_1",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        },
        {
          "type": "header",
          "content": "Tab"
        },
        {
          "type": "text",
          "id": "tab_heading_2",
          "label": "Heading",
          "default": "Tab 2"
        },
        {
          "type": "richtext",
          "id": "tab_text_2",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        },
        {
          "type": "header",
          "content": "Tab"
        },
        {
          "type": "text",
          "id": "tab_heading_3",
          "label": "Heading",
          "default": "Tab 3"
        },
        {
          "type": "richtext",
          "id": "tab_text_3",
          "label": "Text",
          "default": "<p>Use this text to share information about your product.</p>"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text block</p>"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    }
  ]
}

{% endschema %}


<style>
  
  .swatch-element.color.swatch-element label {
    padding: 0;
    margin: 0;
    width: 52px;
    border-radius: 30px;
    height: 52px;
}
.full-wrapper img{
width:80px
}

.swatch-element.color {
  border-radius: 30px;
}

.tooltip{background-color: #000 !important;
  background-image: none !important;}
  </style>

