<script
  type="application/json"
  data-section-type="Sizing"
  data-section-id="{{ section.id }}"
>
</script>


<section
  class="
    section
    {% if section.settings.wide_display == true %}
      is-width-wide
      has-no-side-gutter
    {% endif %}
    {{ section.settings.css_class }}
  "
>
  <div
    class="container
    "
    id="gallery_section-{{ section.id }}"
  >
    <div class="row">
    <div class="col-12">
 
    
    </div>
    <div class="col-md-6">
      <div class="sizing-warpper">
        <img src="{{section.settings.img | img_url:""}}" alt="">
      </div>
    </div>
    
    </div>
<div class="col-12">
  <div class="menu-wrapper prodct-menu">
    <ul>
      {% for link in linklists[section.settings.menu].links %}
      <li><a href="{{link.url}}">{{ link.title }}</a></li> 
      {% endfor %}
    </ul>
  </div>
</div>



    
  </div>
</section>

{% schema %}
{
  "name": "Sizing",
  "class": "shopify-section--Sizing",
 
  "settings": [
    {
      "type": "image_picker",
      "id": "img",
      "label": "select your sizing image"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Slect you Sizing meanu"
    }
  ],

  "presets": [
    {
      "name": "Size"
     
    }
  ]
}

{% endschema %}


<style>
 h1{
  text-transform: uppercase;

}

</style>